<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>287204047066-ci8hpm1aadr3hik028t8f0hs7h7uct7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287204047066-ci8hpm1aadr3hik028t8f0hs7h7uct7r</string>
	<key>API_KEY</key>
	<string>AIzaSyC5OALfjGglys9ae5GgAqGhdGqyp9GdEQw</string>
	<key>GCM_SENDER_ID</key>
	<string>287204047066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ak.freelance.chat-Firebase</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-fc855</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-fc855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:287204047066:ios:7705ba572b5fa67f</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-fc855.firebaseio.com</string>
</dict>
</plist>